<aside class="col-md-4 blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">A portal for me <em>and only me</em> to have some fun. I'm going to try and fill
    this about me box now so it looks like a good size with a good amount of content.</p>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/shasui2/portfolio-app"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.instagram.com/jam_shan/"><%= fa_icon "instagram" %></a></li>
      <li><a href="https://github.com/shasui2/portfolio-app"><%= fa_icon "facebook" %></a></li>
      <li><a href="https://github.com/shasui2/portfolio-app"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
</aside><!-- /.blog-sidebar -->
