<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>123, St Margarets, Twickenham</p>

    <h3>Phone</h3>

    <p><%= number_to_phone("07720012345", country_code: 44, delimiter: " ") %></p>

    <h3>Email</h3>

    <p><a href="mailto:shannon.jamie@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4972.289787821391!2d-0.3259512712528678!3d51.45549610389303!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760c0e82d137f7%3A0x87199cda37ec8671!2sSt+Margarets%2C+Isleworth!5e0!3m2!1sen!2suk!4v1557829726720!5m2!1sen!2suk" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
