<main role="main" class="inner cover">
  <h1 class="cover-heading">HI, I'M JAMIE SHANNON!</h1>
  <p class="lead">This is a placeholder page.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>
